body{
    font-family: 'Times New Roman';
    background: linear-gradient(to bottom,orange 0%, red 75%) fixed ;
}
div{ 
    background-color: white;
    text-align: center;
    margin: 100px 300px 100px  300px;
    padding: 50px;
}
img{
    height: 120px;
    width: 150px;
    border-radius: 50%;
    border: solid 3px orangered;
}
hr{
    width: 400px;
    
}
